/* body */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
  text-decoration: none;
}

/* reset styles */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* container */
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */
.pag-vis {
  border-bottom: 1px solid #e7e9fc;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navig {
  display: flex;
  align-items: center;
}
.web-logo {
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
.header-studio {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-studio {
  color: #f4f4fd;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.hattul {
  display: flex;
  gap: 40px;
}
.hatt {
  display: flex;
}

.header-list {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
  display: block;
}
.header-list:hover {
  color: #404bbf;
}
.header-list:focus {
  color: #404bbf;
}

/* contacts */
.adress-main {
  font-style: normal;
  gap: 40px;
}
.adress-ul {
  display: flex;
  gap: 40px;
}
.adress-visual {
  display: flex;
  margin-right: 40px;
}
.adress-visual2 {
  display: flex;
  margin-right: 0;
  gap: 40px;
}
.adress {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.adress:hover,
:focus {
  color: #404bbf;
}

/* main */
.tittle {
  background-color: #2e2f42;
  padding: 188px 0;
  text-align: center;
}

.tittle-text {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px;
}
.button {
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}

.button-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/* section description */

.team {
  color: #2e2f42;
  line-height: 1.11;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  display: block;
  margin-bottom: 72px;
}
.team-ul {
  display: flex;
  gap: 24px;
}

.paragraph-description-visual {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.description {
  display: flex;
  gap: 24px;
}
.description-gap {
  flex-basis: calc((100% - 72px) / 4);
}

.tittle-description {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.paragraph-description {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* section team-photo */

.team-photo {
  background-color: #f4f4fd;
  padding: 120px 0;
  display: block;
}
.team-color {
  background-color: #ffffff;
  display: block;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
}
.team-visual {
  display: block;
  text-align: center;
  padding: 32px 0;
}

.team-names {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}
.team-discr {
  color: #434455;
  text-align: center;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* portfolio */
.portfolio-sect {
  padding: 120px 0 120px 0;
}
.portfolio {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.porfolio-li {
  display: block;
  width: calc((100% - 48px) / 3);
}
.apps-container {
  display: block;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.apps {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.apps-discr {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* footer */
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 100px 0;
}
footer .web-logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 16px;
}
.footer-discr {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
